*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_logo{
    width: 200px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    background-color: #fff;
}

.header_nav_container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.navbar_right{
    display: flex;
    list-style: none;
    align-items: center;
}
/* 
.dropdown_container{
    position: relative;
    padding: 2px 0;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #000;
    z-index: 50;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.dropdown_menu a{
    display: block;
    white-space: nowrap;
    width: 100%;
    padding: 7px 15px;
    color: #16181b;
}
.dropdown_menu a:hover{
    color: #16181b;
    background-color: #f8f9fa;
}

.show{
    display: block;
} */

.dropdown_toggle{
    text-decoration: none;
}

.account_name{
    font-size: 16px;
}



