<div class="container my_container">
    <div *ngIf="!isValid" class="col-md-12">
      <div class="alert alert-danger">Username or Password incorrect</div>
    </div>
    <div class="title_page_container col-md-12 mt-lg-auto">
      <h1 class="title_page">User Log In</h1>
    </div>
    <div class="col-md-12">
      <div class="card card-body bg-light">
        <form novalidate class="form-horizontal" (ngSubmit)="logInUser()">
          <fieldset>
            <div class="form-group">
              <div class="col-lg-10">
                <mat-form-field appearance="legacy">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" (input)="onInputEmail($event)">
                </mat-form-field>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10">
                <mat-form-field appearance="legacy">
                  <mat-label>Password</mat-label>
                  <input matInput (input)="onInputPassword($event)" type="password">
                </mat-form-field>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button [routerLink]="['/home']" color="primary" mat-button>Cancel</button>
                <button (click)="logInUser()" color="primary" mat-raised-button>Login</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>