<div class="container my_container">
    <div class="row">
      <mat-card class="example-card card">
        <mat-card-header>
          <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-512.png" mat-card-avatar class="example-header-image">
          <mat-card-title>{{ apartment.title }}</mat-card-title>
          <mat-card-subtitle>flat</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ apartment.img }}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{ apartment.description }}</p>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>door_back</mat-icon>
              <p matLine> <small>Rooms: {{ apartment.rooms_number }}</small></p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>bed</mat-icon>
              <p matLine> <small>Beds: 1</small></p>
            </mat-list-item>  
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>shower</mat-icon>
              <p matLine> <small>Bathrooms: 1</small></p>
            </mat-list-item>  
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>apps</mat-icon>
              <p matLine> <small>Meter square: 1</small></p>
            </mat-list-item>  
        </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button 
            mat-button 
            color="primary" 
            matTooltip="Edit Apartment"
            type="button" 
            [routerLink]="['update/', apartment.id]">
            <mat-icon matListIcon>app_registration</mat-icon>
          </button>
          <button 
            mat-button 
            color="warn" 
            matTooltip="Delete Apartment"
            (click)="deleteApartment(apartment.id)">
            <mat-icon matListIcon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>