<div class="container my_container">
    <div class="title_page_container">
        <h1 class="title_page" 
            style="margin: auto;
            width: 100%;
            margin-bottom: 20px;">Update your Apartment</h1>
    </div>
  
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <mat-form-field appearance="legacy" class="form_field">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" type="text" [(ngModel)]="apartment.title">
            </mat-form-field>
            <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                <div *ngIf="f.title.errors.required">Title is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <mat-form-field appearance="legacy" class="form_field">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" type="text" [(ngModel)]="apartment.description">
            </mat-form-field>
            <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                <div *ngIf="f.description.errors.required">Description is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <mat-form-field appearance="legacy" class="form_field">
                <mat-label>Rooms number</mat-label>
                <input matInput formControlName="rooms_number" type="text" [(ngModel)]="apartment.rooms_number">
            </mat-form-field>
            <div *ngIf="f.rooms_number.touched && f.rooms_number.invalid" class="alert alert-danger">
                <div *ngIf="f.rooms_number.errors.required">Rooms number is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <mat-form-field appearance="legacy" class="form_field">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="text" [(ngModel)]="apartment.price">
            </mat-form-field>
            <div *ngIf="f.price.touched && f.price.invalid" class="alert alert-danger">
                <div *ngIf="f.price.errors.required">Price is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <mat-form-field appearance="legacy" class="form_field">
                <mat-label>Image</mat-label>
                <input matInput formControlName="img" type="text" [(ngModel)]="apartment.img">
            </mat-form-field>
            <div *ngIf="f.img.touched && f.img.invalid" class="alert alert-danger">
                <div *ngIf="f.img.errors.required">Image is required.</div>
            </div>
        </div>
  
        <button color="primary" mat-raised-button type="submit" [disabled]="!form.valid">Update</button>
    </form>
  </div>