*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_container{
    width: 100%;
    margin-top: 50px;
}

.my_row{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.my_card{
    position: relative;
    width: calc((100% / 4) - 40px);
    height: 300px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.my_card:hover .card_title{
    color: #fff;
}
.my_card:hover .my_card_layover{
    background-color: rgba(0, 0, 0, 0.3);
}


.img_card_container{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.img_card{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card_body{
    padding-left: 10px;
    text-align: left;
}

.card_title{
    padding: 10px 0;
}

.my_card_layover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 5px;
}

.card_info_link{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    color: #fff;
    cursor: pointer;
}

.card_title{
    position: absolute;
    top: 0;
    left: 5%;
}


