<div class="my_container">
    <div class="my_row">
      <div *ngFor="let apartment of filteredApartment$ | async" class="my_card">
        <div class="card_container" (click)="onSelect(apartment.id)">
          <div class="img_card_container">
            <img class="img_card" src="{{apartment.img}}" alt="{{apartment.title}}">
          </div>
          <div class="card_body">
            <h4 class="card_title">{{apartment.title}}</h4>
            <p class="card_text card_description">{{apartment.description}}</p>
            <p class="card_text card_text_price"><small class="text-muted">price per night <strong>€ {{apartment.price}}</strong></small></p>
          </div>
          <div class="my_card_layover"></div>
        </div>
        <app-modal (close)="onSelect(null)" [infoApartment]="apartment" *ngIf="selectedApartment === apartment.id"></app-modal>
      </div>
    </div>
</div>
